@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  font-family: "ui-sans-serif", sans-serif;
}

button:hover {
  cursor: pointer;
}
